<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu IP</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="assets/image/icone.png" type="image/x-icon">
</head>
<body>
    <header id="header">
        <picture>
            <source media="(max-width: 490px)" srcset="assets/image/logo-360.png" />
            <source media="(min-width: 500px)" srcset="assets/image/logo-460.png" />
            <img src="assets/image/logo-460.jpg" alt="" />
          </picture>          
    </header>
    <main id="main">
        <h2>{{IP}}</h2>
    </main>
</body>
</html>